@model List<W_SOFIA.Models.Clientes>

<div class="row" style="margin-top:0.5em">
    <div class="col-lg-3 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">Clientes</div>
                        <div class="stat-digit count">@Model.Count()</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 offset-lg-2  offset-md-7 offset-lg-7 col-sm-12 align-bottom text-lg-right text-md-right text-sm-center">
        <button type="button" class="btn btn-secondary btn-sm btn-block"><i class="fa fa-list-alt"></i>&nbsp; Importar</button>
        <button type="button" class="btn btn-secondary  btn-sm btn-block" onclick="Location.href='/Clientes/View';"><i class="fa fa-file"></i>&nbsp; Exportar</button>
        <button type="button" class="btn btn-secondary  btn-sm btn-block" onclick="Nuevo()"><i class="fa fa-plus"></i>&nbsp; Nuevo</button>
    </div>
</div>
<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card small">
            <div class="card-header">
                <strong class="card-title">Data Table</strong>
            </div>
            <div class="card-body ">
                <table id="bootstrap-data-table" class="table table-striped table-bordered table-sm table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombres</th>
                            <th>Credito</th>
                            <th>Terminos</th>
                            <th>Pais</th>
                            <th>Fecha alta</th>
                            <th>Pais</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (W_SOFIA.Models.Clientes item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoCliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreCliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LimiteCredito)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoTerminosPagoNavigation.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodMunicipioNavigation.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodPais)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaAlta)
                                </td>
                                <td>
                                    <a href="/Clientes/Create/@item.CodigoCliente" class="btn btn-light btn-sm"><i class="fa fa-pencil"></i></a>
                                    <a href="/Clientes/Delete/@item.CodigoCliente" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/js/lib/data-table/datatables.min.js"></script>
<script src="~/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="~/assets/js/lib/data-table/jszip.min.js"></script>
<script src="~/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="~/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="~/assets/js/lib/data-table/datatables-init.js"></script>


<script type="text/javascript">

    function Nuevo() {
        window.open("/Clientes/Create"); //abrir en misma ventana
        //window.location.href = '/Clientes/Create'; //abrir en nueva ventana
    }

    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable();
    });
</script>

